<div class="container">
    <h1>Componente Chat</h1>
    <p><strong>{{code}}</strong><button class="btn btn-warning" (click)="copyCode(code)">copy</button></p>
    <button class="btn btn-primary" (click)="redirectHome()">Regresar</button>
    <div *ngFor="let messages of messages">
        <strong>{{messages.name}}</strong>
        <p>{{messages.text}}</p>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            Mensajes
        </div>
        <div class="card-body">
            <form #textForm="ngForm" (ngSubmit)="onSumbit(textForm)" (keyup.enter)="onSumbit(textForm)">
                <div class="mb-3">
                    <label for="text" class="form-label">Message</label>
                    <textarea type="text" name="text" class="form-control" [(ngModel)]="message.text" required></textarea>
                </div>

                <input type="submit" class="btn btn-primary" value="Send" [disabled]="!textForm.valid">
            </form>
        </div>
    </div>
</div>