<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-content-center">
        <a class=" navbar-brand" routerLink="/ ">LocMer</a>
    </div>
</nav>
<div class="container py-4">
    <p>LocMer es un chat online web, sin la necesidad de registrarse o poner un número celular para poder intercambiar mensajes entre personas con la confiabilidad de que los mensajes enviados y recibidos no se guardan en alguna base de datos o servidor
        haciendo que los mensajes enviados y recibidos solo permanecan en el navegador de las personas que están chateando.</p>
    <h3 class="mb-4">Como funciona</h3>
    <div class="accordion mb-4" id="accordionExample">
        <!-- Nombre -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Pon tu nombre
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-12 col-lg-5 mb-3">
                            <img src="assets/img/nombre.png" class="img-fluid rounded border">
                        </div>
                        <div class="col-12 col-lg-7 align-self-center">
                            <p>
                                Este nombre se mostrara a los demás usuarios a la hora de intercambiar mensajes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Crear -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Crear chat
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-12 col-lg-5 mb-3">
                            <img src="assets/img/crearchat.png" class="img-fluid rounded border">
                        </div>
                        <div class="col-12 col-lg-7 align-self-center">
                            <p>
                                A la hora de crear el chat te pedirá el nombre que dees darle al chat a crear
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-5 mb-3">

                            <img src="assets/img/chatcreado.png" class="img-fluid rounded border">
                        </div>
                        <div class="col-12 col-lg-7 align-self-center">
                            <p>
                                Se crea el chat con el nombre, genera un código que es el que tendrpa que pasar a las personas que quieren que estpen en su chat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Añadir -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Añade un chat
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-12 col-lg-5 mb-3">

                            <img src="assets/img/adchat.png" class="img-fluid rounded border">
                        </div>
                        <div class="col-12 col-lg-7 align-self-center">
                            <p>
                                Al añadir un chat se te pide el nombre que le quiera dar al chat y el código que le pasaron de un chat ya previamente creado por alguien
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="http://kejopeweb.com" target="_blank">Ir a la bitacora de LocMer</a>

</div>