<!-- Modal Name -->
<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Name</h5>
            </div>
            <div class="modal-body">
                <form #nameForm="ngForm">
                    <div class="mb-3">
                        <input id="nameInput" type="text" name="name" (ngModel)="name" class="form-control" placeholder="Anonimo" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="saveName(nameForm)" [disabled]="!nameForm.valid">Save name</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal CreateChat -->
<div class="modal fade" id="createChatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear chat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #createChatModal="ngForm">
                    <div class="mb-3">
                        <input id="createChatInput" type="text" name="nameChat" (ngModel)="chat.nameChat" class="form-control" placeholder="Nombre de chat" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="createChat(createChatModal)" [disabled]="!createChatModal.valid">Crear chat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal AddChat -->
<div class="modal fade" id="addChatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir chat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addChatForm="ngForm">
                    <div class="mb-3">
                        <input id="addChatNameInput" type="text" name="nameChat" (ngModel)="chat.nameChat" class="form-control" placeholder="Nombre de chat" required>
                    </div>
                    <div class="mb-3">
                        <input id="addChatCodeInput" type="text" name="codeChat" (ngModel)="chat.codeChat" class="form-control" placeholder="Codigo de chat" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="addChat(addChatForm)" [disabled]="!addChatForm.valid">Añadir chat</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Advise -->
<div class="modal fade" id="adviseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Solo se puede tener menos de 6 chats
            </div>
        </div>
    </div>
</div>
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">LocMer</span><span *ngIf="name != 'Anonimo'"> Bienvenido {{ name }}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="links" class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="nav-link active links" aria-current="page" (click)="showModal('createChatModal')">Crear
                        Chat</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link active links" aria-current="page" (click)="showModal('addChatModal')">Añadir
                        Chat</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link active links" aria-current="page" href="#">Acerca de</span>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Container -->
<div class="container  text-center">
    <h1>Mis chats</h1>
    <div *ngIf="chats.length > 0">
        <div class="card shadow-sm mt-3" *ngFor="let chats of chats">
            <div class="card-body">
                <h5 class="card-title fs-2">{{ chats.nameChat }}</h5>
                <p class="card-subtitle mb-2 text-muted">Código: {{ chats.codeChat }}
                    <button class="btn btn-outline-secondary btn-sm" (click)="copyCode(chats.codeChat)">Copiar</button>
                </p>
                <a routerLink="/chat/{{chats.nameChat}}/{{chats.codeChat}}" class="btn btn-primary btn-sm">
                    Ir a chat
                </a>
                <button class="btn btn-danger btn-sm ms-3" (click)="deleteChat(chats.codeChat)">Eliminar</button>
            </div>
        </div>
    </div>
</div>